<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:fragment="footer">
    <footer>
        <div class="footer-container">
            <ul class="footer-links">
                <li><a th:href="@{/about}">About Us</a></li>
                <li><a th:href="@{/contact}">Contact Us</a></li>
            </ul>
            <p class="text-white"> @2024 MAKAUT SuccessPath. All rights reserved.</p>
        </div>
    </footer>
</div>
</body>
</html>