<!doctype html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:fragment="header">
    <!-- Navbar -->
    <nav class="mb-5">
        <a th:href="@{/}"><img th:src="@{images/home/logo-black.png}" alt="logo"></a>
        <div class="navigation">
            <ul>
                <i id="close-btn" class="fa fa-xmark"></i>
                <li><a th:href="@{/logout}" class="btn btn-outline-danger">Logout</a></li>
            </ul>
            <img th:src="@{images/home/menu.png}" id="menu-btn">
        </div>
    </nav>
    <!-- Navbar -->
</div>
</body>
</html>