<!doctype html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:fragment="header">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm navbar">
        <!-- Container wrapper -->
        <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand me-2" th:href="@{/}">
                <img
                        th:src="@{images/logo-no-background.png}"
                        height="35"
                        width="160"
                        alt="Logo"
                        loading="lazy"
                        style="margin-top: -1px;"
                />
            </a>

            <!-- Toggle button -->
            <button
                    data-mdb-collapse-init
                    class="navbar-toggler"
                    type="button"
                    data-mdb-target="#navbarButtonsExample"
                    aria-controls="navbarButtonsExample"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <div class="d-flex ms-auto">
                    <a th:href="@{/login}"><button  class="btn btn-outline-light px-3 me-2">Login</button></a>
                    <a th:href="@{/signup}"><button  class="btn btn-primary  px-3 me-2">Sign Up Here</button></a>
                </div>
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</div>
</body>
</html>