/*Hack to keep main content separate from navbar */
.main{
    margin-top: 20vh;
}
.navbar , footer{
    background-color: #7854F2
}

/* login */
.login-container {
    margin-left: 30%;
    margin-right: 30%;
    background-color: #EFECF7;
}

/* Sign UP */
.signup-container {
    margin-left: 30%;
    margin-right: 30%;
    background-color: #EFECF7;
}

/*Card of Home Page*/
.card {
    background-color: #f8f9fa;
    /* light gray */
    padding: 20px;
    margin: 10px;
    height: 60vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card:hover {
    background-color: #e0e0e0;
    /* slightly darker gray */
    transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}






